.backgroundstructureview {
	width: 188px;
	height: 192px;
}
	/*padding: 10px;
	border: 1px solid #c3c3c3;
	float: left;
	margin: 10px;
	overflow: visible;
}
#join {
	width: 300px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #c3c3c3;
	float: left;
	/*left: 400px;
	overflow: visible;
}
#selection_status {
	width: 500px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #c3c3c3;
	float: left;
}
.activities {
	padding:5px;
} 
#joinwhen {
	padding-top: 53px;
}
.submit{ 
	margin-top: 15px;
}
body {
	background-color: green;
}*/




